<app-nav></app-nav>
<div class="container-fluid">
  <h1>{{title | titlecase}}</h1>
  <div class="row">
    <div class="col-3">
      <app-genre [testField]="'hello'" [testFieldBoolean]=true></app-genre>
    </div>
    <div class="col-9">
      <!--<app-movie></app-movie>-->
      <router-outlet></router-outlet> <!-- holds the router  -->
    </div>
  </div>
</div>

