<div class="container">
  <div class="row">
    <div class="col" *ngFor="let movie of getMovies()">
      <div class="card" style="width: 18rem;">
        <img src="{{movie.cover}}" class="card-img-top" alt="placeholder">
        <div class="card-body">
          <h5 class="card-title">{{movie.name | titlecase}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{movie.director + ' - ' + movie.genre}}</h6>
          <p class="card-text">{{movie.publishDate}}</p>
          <p class="card-text">{{movie.price | kdv:0.18 | currency: 'EUR' : 'symbol':'2.2-2'}}</p>
        </div>
        <ul class="list-group list-group-flush" *ngFor="let cast of movie.casts">
          <li class="list-group-item">{{cast.name}}</li>
        </ul>
        <div class="card-body">
          <button class="btn btn-lg btn-dark">Add to Basket</button>
        </div>
      </div>
    </div>
  </div>
</div>
