<div class="list-group">
  <a routerLink="/movies" routerLinkActive="router-link-active" class="list-group-item list-group-item-action" >Movies</a>
</div>

<div class="list-group" *ngFor="let genre of genres">
  <a routerLink="/movie/category/{{genre.name}}" class="list-group-item list-group-item-action">{{genre.name}}</a>
</div>

<div class="list-group">
  <a routerLink="/addMovie" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action" >Add New Movie</a>
</div>
