<form #myForm="ngForm" (ngSubmit)="addMovie(myForm)">
  <div class="form-group">
    <input type="text" class="form-control" #name="ngModel" [(ngModel)]="movie.name" id="name" name="name" required
           placeholder="Movie Name" [minlength]="2">
    <div class="alert-danger" *ngIf="name.invalid && name.dirty">
      <span *ngIf="name.errors.required">
        Please enter value.
      </span>
      <span *ngIf="name.errors.minlength">
        Min length is two.
      </span>
    </div>

    <input type="text" class="form-control" #director="ngModel" [(ngModel)]="movie.director" id="director" name="director"
           required
           placeholder="Movie Director" minlength="2">
    <div class="alert-danger" *ngIf="name.invalid && name.dirty">
      Please enter value.
    </div>

    <select name="genreList" class="form-control" id="genreList" #genreList="ngModel" [(ngModel)]="movie.genre" required>
      <option *ngFor="let genre of genres" value="{{genre.name}}">{{genre.name}}</option>
    </select>
    <div class="alert-danger" *ngIf="genreList.invalid && genreList.dirty">
      Please select value.
    </div>
    <button class="btn btn-danger">Submit</button>
  </div>
</form>
